/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
}

:root {
  --cell-size: 40px;
  --cell-number: 10;
  --cell-water: lightskyblue;
  --ship-tail-colour: #bf0000;
  --ship-head-shape: polygon(
    0% 0%,
    15% 0%,
    55% 10%,
    85% 30%,
    100% 50%,
    85% 70%,
    55% 90%,
    15% 100%,
    0% 100%
  );
  --ship-tail-shape: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 5% 80%, 0% 50%, 5% 20%);
}

/* GAMEBOARD */

.gameboard_playarea {
  margin: 0 auto;
  height: 800px;
  width: 960px;
  grid-template-columns: 2;
  grid-template-rows: 2;
  align-items: center;
  display: grid;
}

.gameboard_player {
  grid-column-start: 1;
  grid-column-end: 1;
  height: calc(var(--cell-size) * var(--cell-number));
  width: calc(var(--cell-size) * var(--cell-number));
}

.gameboard_computer {
  grid-column-start: 2;
  grid-column-end: 2;
}

.gameboard_computer .gameboard_cell {
  background-color: var(--cell-water) !important;
  border-radius: 0;
  border-right: solid 1px #808080 !important;
  border-bottom: solid 1px #808080 !important;
}

.gameboard_wrapper {
  display: flex;
  height: calc(var(--cell-size) * var(--cell-number));
  width: calc(var(--cell-size) * var(--cell-number));
}

.gameboard_grid {
  display: grid;
  height: calc(var(--cell-size) * var(--cell-number));
  width: calc(var(--cell-size) * var(--cell-number));
  grid-template-rows: repeat(var(--cell-number), var(--cell-size));
  grid-template-columns: repeat(var(--cell-number), var(--cell-size));
  background: var(--cell-water);
}

.gameboard_col {
  display: grid;
  grid-template-columns: repeat(var(--cell-number), var(--cell-size));
}

.ship_layer {
  position: absolute;
  inset: 0;
  pointer-events: none;
  height: calc(var(--cell-size) * var(--cell-number));
  width: calc(var(--cell-size) * var(--cell-number));
}

.gameboard_row {
  display: contents;
}

.gameboard_cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border-right: solid 1px #808080;
  border-bottom: solid 1px #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard_playBtn_wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}

.gameboard_player_wrapper {
  position: relative;
  height: calc(var(--cell-size) * var(--cell-number));
  width: calc(var(--cell-size) * var(--cell-number));
}

.gameboard_cell-battle {
  cursor: pointer;
}

.gameboard_cell-battle:hover {
  opacity: 0.5;
}

.gameboard_btn {
  padding: 10px 20px;
  margin: 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 10px;
}

/* SHIPS */

.ship_panel {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ship-panel .draggable_ships {
  position: relative;
}

.gameboard_ships-layer .draggable_ships {
  position: absolute;
  pointer-events: auto;
}

.unplaced {
  position: relative;
}

.placed {
  position: absolute;
}

.draggable_ships.horizontal {
  display: flex;
  flex-direction: row;
}

.draggable_ships.vertical {
  display: flex;
  flex-direction: column;
}

.dnd_droppable_cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: yellow;
}

.dnd_draggable_ship {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: grey;
  border: none;
}

.ship-vertical,
.ship-horizontal {
  position: relative;
}

.gameboard_row-label {
  align-self: center;
}

.gameboard_col-label {
  justify-self: center;
  margin-bottom: 10px;
}

.gameboard_cell-ship {
  background: grey;
}

/* CARRIER */
.draggable_ships.horizontal .carrier:first-child {
  border-radius: 10px 0 0 10px;
}

.draggable_ships.horizontal .carrier:last-child {
  border-radius: 0 10px 10px 0;
}

.draggable_ships.vertical .carrier:first-child {
  border-radius: 10px 10px 0 0;
}

.draggable_ships.vertical .carrier:last-child {
  border-radius: 0 0 10px 10px;
}

.ship-head-horizontal.carrier,
.ship-head-horizontal.carrier::before {
  border-radius: 0 10px 10px 0;
}

.ship-tail-horizontal.carrier,
.ship-tail-horizontal.carrier::before {
  border-radius: 10px 0 0 10px;
}

.ship-head-vertical.carrier,
.ship-head-vertical.carrier::before {
  border-radius: 0 0 10px 10px;
}

.ship-tail-vertical.carrier,
.ship-tail-vertical.carrier::before {
  border-radius: 10px 10px 0 0;
}

/* BATTLESHIP */
.draggable_ships.horizontal .battleship:first-child {
  clip-path: var(--ship-tail-shape);
}

.draggable_ships.horizontal .battleship:last-child {
  clip-path: var(--ship-head-shape);
}

.draggable_ships.vertical .battleship:first-child {
  clip-path: var(--ship-tail-shape);
  rotate: 90deg;
}

.draggable_ships.vertical .battleship:last-child {
  clip-path: var(--ship-head-shape);
  rotate: 90deg;
}

.ship-head-horizontal.battleship,
.ship-head-horizontal.battleship::before {
  clip-path: var(--ship-head-shape);
}

.ship-tail-horizontal.battleship,
.ship-tail-horizontal.battleship::before {
  clip-path: var(--ship-tail-shape);
}

.ship-head-vertical.battleship,
.ship-head-vertical.battleship::before {
  clip-path: var(--ship-head-shape);
  rotate: 90deg;
}

.ship-tail-vertical.battleship,
.ship-tail-vertical.battleship::before {
  clip-path: var(--ship-tail-shape);
  rotate: 90deg;
}

/* SUBMARINE */
.draggable_ships.horizontal .submarine:first-child {
  border-radius: 40px 0 0 40px;
}

.draggable_ships.horizontal .submarine:last-child {
  border-radius: 0 40px 40px 0;
}

.draggable_ships.vertical .submarine:first-child {
  border-radius: 40px 40px 0 0;
}

.draggable_ships.vertical .submarine:last-child {
  border-radius: 0 0 40px 40px;
}

.ship-head-horizontal.submarine,
.ship-head-horizontal.submarine::before {
  border-radius: 0 40px 40px 0;
}

.ship-tail-horizontal.submarine,
.ship-tail-horizontal.submarine::before {
  border-radius: 40px 0 0 40px;
}

.ship-head-vertical.submarine,
.ship-head-vertical.submarine::before {
  border-radius: 0 0 40px 40px;
}

.ship-tail-vertical.submarine,
.ship-tail-vertical.submarine::before {
  border-radius: 40px 40px 0 0;
}

/* DESTROYER */
.draggable_ships.horizontal .destroyer:first-child {
  clip-path: var(--ship-tail-shape);
}

.draggable_ships.horizontal .destroyer:last-child {
  clip-path: var(--ship-head-shape);
}

.draggable_ships.vertical .destroyer:first-child {
  clip-path: var(--ship-tail-shape);
  rotate: 90deg;
}

.draggable_ships.vertical .destroyer:last-child {
  clip-path: var(--ship-head-shape);
  rotate: 90deg;
}

.ship-head-horizontal.destroyer,
.ship-head-horizontal.destroyer::before {
  clip-path: var(--ship-head-shape);
}

.ship-tail-horizontal.destroyer,
.ship-tail-horizontal.destroyer::before {
  clip-path: var(--ship-tail-shape);
}

.ship-head-vertical.destroyer,
.ship-head-vertical.destroyer::before {
  clip-path: var(--ship-head-shape);
  rotate: 90deg;
}

.ship-tail-vertical.destroyer,
.ship-tail-vertical.destroyer::before {
  border-radius: var(--ship-tail-shape);
  rotate: 90deg;
}

/* PATROL BOAT */
.draggable_ships.horizontal .patrol-boat:first-child {
  border-radius: 10px 0 0 10px;
}

.draggable_ships.horizontal .patrol-boat:last-child {
  clip-path: var(--ship-head-shape);
}

.draggable_ships.vertical .patrol-boat:first-child {
  border-radius: 10px 0 0 10px;
  rotate: 90deg;
}

.draggable_ships.vertical .patrol-boat:last-child {
  clip-path: var(--ship-head-shape);
  rotate: 90deg;
}

.ship-head-horizontal.patrol-boat,
.ship-head-horizontal.patrol-boat::before {
  clip-path: var(--ship-head-shape);
}

.ship-tail-horizontal.patrol-boat,
.ship-tail-horizontal.patrol-boat::before {
  clip-path: var(--ship-tail-shape);
}

.ship-head-vertical.patrol-boat,
.ship-head-vertical.patrol-boat::before {
  clip-path: var(--ship-head-shape);
  rotate: 90deg;
}

.ship-tail-vertical.patrol-boat,
.ship-tail-vertical.patrol-boat::before {
  border-radius: var(--ship-tail-shape);
  rotate: 90deg;
}

/* SHIP RIPPLES */

.gameboard_player .ship-vertical::before,
.gameboard_player .ship-horizontal::before {
  content: '';
  position: absolute;
  border: 0.3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  pointer-events: none;
}

.gameboard_player .ship-vertical::before {
  border-top: none;
  border-bottom: none;
  animation: ripplesX var(--ripple-duration) linear infinite;
}

.gameboard_player .ship-horizontal::before {
  border-left: none;
  border-right: none;
  animation: ripplesY var(--ripple-duration) linear infinite;
}

@keyframes ripplesX {
  0% {
    opacity: 0.6;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.5);
  }
}

@keyframes ripplesY {
  0% {
    opacity: 0.6;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(1.5);
  }
}

/* PLAYER MOVES */

.gameboard_cell-computer:not(:disabled):hover {
  opacity: 0.75;
}

.gameboard_cell-miss-dot {
  width: 10px;
  height: 10px;
  background-color: #808080;
  border-radius: 50%;
}

.gameboard_cell-hit::after {
  content: '\274c';
  color: rgb(206, 21, 21);
}

.opacity-50 {
  opacity: 0.5;
}
