/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
}

/* Gameboard start */

.gameboard_playarea {
  margin: 0 auto;
  height: 800px;
  width: 960px;
  grid-template-columns: 2;
  grid-template-rows: 2;
  align-items: center;
  display: grid;
}

.gameboard_player {
  grid-column-start: 1;
  grid-column-end: 1;
}

.gameboard_computer {
  grid-column-start: 2;
  grid-column-end: 2;
}

.gameboard_wrapper {
  display: flex;
  flex-direction: column;
}

.gameboard_col {
  display: flex;
  flex-direction: row;
}

.gameboard_row {
  display: grid;
  grid-template-columns: repeat(11, 40px);
  grid-template-rows: 40px;
}

.gameboard_cell {
  width: 40px;
  height: 40px;
}

.gameboard_playBtn_wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  justify-self: center;
}

.gameboard_cell-battle {
  cursor: pointer;
}

.gameboard_cell-battle:hover {
  opacity: 0.5;
}

.gameboard_playBtn {
  padding: 10px 20px;
  font-size: 2em;
  border: none;
  border-radius: 10px;
}

.draggable_ships {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.dnd_draggable_ship {
  height: 40px;
  width: 40px;
  background-color: green;
  border: none;
}

.dnd_droppable_cell {
  height: 40px;
  width: 40px;
  background-color: yellow;
}

.gameboard_row-label {
  align-self: center;
}

.gameboard_col-label {
  justify-self: center;
}

.gameboard_cell {
  border: solid 1px #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboard_cell-computer:not(:disabled):hover {
  opacity: 0.75;
}

.gameboard_cell-ship {
  background: green;
}

.gameboard_cell-water {
  background: lightskyblue;
}

.gameboard_cell-miss-dot {
  width: 10px;
  height: 10px;
  background-color: #808080;
  border-radius: 50%;
}

.gameboard_cell-hit::after {
  content: '\274c';
  color: rgb(206, 21, 21);
}

.opacity-50 {
  opacity: 0.5;
}

/* Gameboard end */
